:root {

    /* === Cover / Landing area === */
    --cover-text-color: black!important;
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: white!important;
    --highlight-contrast: var(--cover-text-color)!important;
    /*iverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color)!important;
    --highlight-inverse-contrast: white!important;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6)!important;
    --cover-title-text-shadow: white 0px 0px 7px!important;


    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: darkgrey!important!important;


    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: #3a4145!important;
    /* Light section - background color */
    --section-light-bg-color: #f2efe8!important;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color)!important;
    /* Dark section - background color */
    --section-dark-bg-color: black!important;

    /* Light&Dark section >quote. Supressive color, compared to 'Light section - text color'*/
    --section-uni-quote: grey!important;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7!important;


    /* === Footer === */
    --footer-color-background: black!important;
    --footer-color: #bbc7cc!important;
}